/*888888888888 GLOBAL 888888888888*/

@font-face {
    font-family: myFirstFont;
    src: url(AachenBold.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #2B2A2A;
    color: #b2b2b2;
    font-family: "Courier";
    font-weight: 100;
    width: 80%;
    margin: auto;
}


/*888888888888 HEADING 888888888888*/

#header {
    width: 100vw;
    height: 100vh;
}

.heading-primary {
    display: inline-block;
    width: 90vw;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: myFirstFont;
    color: #FAAE00;
    text-shadow: 0px 6px #BE0602;
    letter-spacing: .7rem;
    font-weight: 400;
    font-size: 10rem;
    text-align: center;

    padding: 5rem 5rem 5rem 5rem;
}

.subheading-primary {
    display: inline-block;
    width: 90vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Courier;
    color: #585555;
    letter-spacing: .7rem;
    font-weight: 200;
    font-size: 2rem;
    text-align: center;

    padding: 5rem 5rem 5rem 5rem;
}



/*888888888888 GUN 888888888888*/

.arrow {
    position: absolute;
    width: 15rem;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow__btn {
    width: 100%;
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
}

.arrow__btn:hover {
    transform: scale(1.3);
    -webkit-animation: hover-rotate 1s ease-in-out forwards;
}

.arrow__btn:active {
    transform: rotate(90deg);
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(1rem);
        opacity: 1;
    }
}

@-webkit-keyframes hover-rotate {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-90deg);
    }
}


/*888888888888 SORT BY SECTION 888888888888*/

.heading-secondary {
    display: block;
    font-family: myFirstFont;
    color: #FAAE00;
    text-shadow: 0px 3px #BE0602;
    text-align: left;
    letter-spacing: .2rem;
    font-weight: 200;
    font-size: 2rem;
    padding-top: 1rem;
    opacity: .5;
    transition: all .2s ease-in;
    margin-bottom: 3rem;
}

.heading-secondary:hover {
    opacity: 1;
}

nav {
    margin-bottom: 4rem;
    width: 80vw;
}

#sortby {
    display: inline-block;

    font-size: 2rem;
    color: #585555;
    font-weight: 100;
    margin-left: 1rem;
    color: #FAAE00;
    transform: translateY(-1rem);
}


.arrowbtnright,
.arrowbtnleft {
    width: 5rem;
    transition: all .2s ease-in;
}

.arrowbtnright:hover {
    transform: rotate(-90deg);
    cursor: pointer;
}


#sortby-categories {
    display: block;
    text-align: center;
}

#sortby-categories ul li {
    list-style-type: none;
    display: inline-block;
}

#sortby-categories ul li a {
    text-decoration: none;
    font-size: 4rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #585555;
    transition: all .2s ease-in;
    margin-left: 3rem;
}

#sortby-categories ul li a:hover{
    border-bottom: 1px solid #FAAE00;
    transform: rotate(2deg) scale(1.2);
}



/*888888888888 ABOUT TARANTINO 888888888888*/

#tarantino {
    margin-bottom: 5rem;
}

.heading-tertiary {
    display: block;
    font-family: myFirstFont;
    color: #FAAE00;
    text-shadow: 0px 6px #BE0602;
    text-align: left;
    letter-spacing: .2rem;
    font-weight: 200;
    font-size: 3rem;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.tarantinoimg {
    height: 50rem;
    display: inline-block;
    float: left;
    margin-top: -2rem;
}

#tarantino p {
    font-size: 1.5rem;
    text-align: justify;
}


/*888888888888 POSTERS 888888888888*/

#posters {
    border-top: 1px solid #FAAE00;
    border-bottom: 1px solid #FAAE00;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1rem;
}

.poster {
    width: 100%;
    height: 100%;
}



/*888888888888 FLIPCARDS 888888888888*/

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 45rem;
    width: 30rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.card__side {
    height: 45rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 7rem rgba(250, 174, 0, 0.19);
}

.card__side--front {
    background-color: #fff;
}

.card__side--back {
    transform: rotateY(180deg);
}

.card__side--back-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0deg);
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff;
}

.card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card__price-value {
    font-size: 6rem;
    font-weight: 100;
}



/*888888888888 JAVASCRIPT SHIT 888888888888*/

.inactive {
    display: none;
}
