/*888888888888 GLOBAL 888888888888*/

@font-face {
    font-family: myFirstFont;
    src: url(AachenBold.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #2B2A2A;
    color: #b2b2b2;
    font-family: "Courier";
}

#wrapper {
    width: 80vw;
    margin: auto;
}

/*888888888888 HEADING 888888888888*/

#header {
    height: 100vh;
}

.heading-primary {
    display: inline-block;
    width: 90vw;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: myFirstFont;
    color: #FAAE00;
    text-shadow: 0px 6px #BE0602;
    letter-spacing: .7rem;
    font-weight: 400;
    font-size: 10rem;
    text-align: center;

    padding: 5rem 5rem 5rem 5rem;
}

.subheading-primary {
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Courier;
    color: #585555;
    letter-spacing: .7rem;
    font-weight: 200;
    font-size: 2rem;
    text-align: center;

    padding: 5rem 5rem 5rem 5rem;
}



/*888888888888 GUN 888888888888*/

.arrow {
    position: absolute;
    width: 15rem;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow__btn {
    width: 100%;
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
}

.arrow__btn:hover {
    transform: scale(1.3);
    -webkit-animation: hover-rotate 1s ease-in-out forwards;
}

.arrow__btn:active {
    transform: rotate(90deg);
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(1rem);
        opacity: 1;
    }
}

@-webkit-keyframes hover-rotate {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-90deg);
    }
}


/*888888888888 SORT BY SECTION 888888888888*/

nav {
    margin-bottom: 4rem;
    width: 80vw;
}

#sortby {
    display: inline-block;
    margin-top: 5rem;
    font-family: Courier;
    font-size: 4rem;
    color: #585555;
    font-weight: 100;
    margin-left: 1rem;
    color: #FAAE00;
    transform: translateY(-1rem);
}


.arrowbtnright,
.arrowbtnleft {
    width: 7rem;
    transition: all .2s ease-in;
}

.arrowbtnright:hover {
    transform: rotate(-130deg);
    cursor: pointer;
}


#sortby-categories {
    text-align: center;
}

#sortby-categories ul {
    margin-bottom: 10rem;
}

#sortby-categories ul li {
    list-style-type: none;
    display: inline-block;
}

#sortby-categories ul li a {
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 7rem;
    font-weight: 100;
    color: #848181;
    margin-left: 3rem;

    transition: scale .3s ease-in;
}

#sortby-categories ul li a:hover{
    border-bottom: 1px solid #FAAE00;
}




/*888888888888 ABOUT TARANTINO 888888888888*/

#tarantino {
    margin-bottom: 5rem;
}

.columns {
    column-count: 2;
}

.heading-tertiary {
    display: block;
    font-family: myFirstFont;
    color: #FAAE00;
    text-shadow: 0px 6px #BE0602;
    text-align: left;
    letter-spacing: .2rem;
    font-weight: 200;
    font-size: 3rem;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.tarantinoimg {
    height: 50rem;
    display: inline-block;
    float: left;
    margin-top: -2rem;
}

#tarantino p {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 2rem;
    font-family: 'Didact Gothic', sans-serif;
}


/*888888888888 POSTERS 888888888888*/

#posters {
/*
    border-top: 1px solid #FAAE00;
    border-bottom: 1px solid #FAAE00;
*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.poster {
    width: 100%;
    height: 100%;
}



/*888888888888 FLIPCARDS 888888888888*/

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 45rem;
    width: 30rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.card__side {
    height: 45rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 7rem rgba(250, 174, 0, 0.19);
}

.card__side--front {
    background-color: #fff;
}

.card__side--back {
    transform: rotateY(180deg);
}

.card__side--back-1 {
    border: 5px solid #FAAE00;
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0deg);
}

#hoverinfo {
    height: 100%;
    width: 100%;
}

.imdb {
    display: block;
    width: 80%;
    margin: auto;
    font-family: Courier;
    color: #848181;
    letter-spacing: .2rem;
    font-weight: 200;
    font-size: 2rem;

    margin: 1rem;
}

.title {
    display: block;
    font-family: myFirstFont;
    color: #FAAE00;
    text-shadow: 0px 3px #BE0602;
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 200;
    font-size: 4rem;

    margin: 3rem;
}

.container {
    display: block;
    width: 100%;
    height: 2rem;
    text-align: center;
}
.container>h3 {

}
.age-rating, .year, .genres {
    display: inline-block;
    font-family: Courier;
    color: #848181;
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 100;
    font-size: 1rem;

    margin-left: 2rem;

}

.shortDescription {
    display: block;
    font-family: 'Didact Gothic', sans-serif;
    width: 80%;
    margin: auto;
    font-family: Courier;
    color: #FAAE00;
    letter-spacing: .2rem;
    font-weight: 200;
    font-size: 1.5rem;

    margin: 3rem;
}

#readmore {
    font-family: Courier;
    text-transform: uppercase;
    color: #FAAE00;
    background-color: #2B2A2A;
    padding: .5rem 1rem;
    border: 1px solid #FAAE00;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    transition: all .2s;
    outline: .5rem solid #585555;
}

#readmore:hover {
    transform: scale(1.2);
    outline-offset: .7rem;
}

/*888888888888 JAVASCRIPT SHIT 888888888888*/

.inactive {
    display: none;
}





/*888888888888 MEDIA QUERIES FOR TABLET 888888888888*/

@media (max-width:1300px) {
    .subheading-primary {
        top: 60%;
    }
}


@media (max-width:900px) {
    #sortby-categories ul li a {
        font-size: 3rem;
    }

    #sortby {
        font-size: 2.5rem;
    }

    .columns {
    column-count: 1;
    }
}

@media (max-width:700px) {
    .heading-primary {
        font-size: 4rem;
    }

    .subheading-primary {
        font-size: 1.5rem;
    }


    .columns {
    column-count: 1;
    }

    .tarantinoimg {
        display: block;
        float: none;
        margin: auto;
    }

    #tarantino p {
        display: block;
    }
}




